@import url('../pages/mapas.html');

/* HOME */

.retourner { 
    display:flex;
    justify-content: start;
}

.iconohome {
    width: 50px;
    transition-duration: 1.5s;
}

.iconohome:hover {
    transform: rotateY(180deg);
}

h1 {
  font-family: fantasy;
  text-align: center;
}

.container {
  display: grid;
  gap:1rem;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
}

p{
  max-width: 40ch;
}

.maps {
  display: flex;
  padding: 0.5rem 2rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  background-color: cornflowerblue;    
  width: 20rem;
  height: 30rem;  
}

.mapas {
    width: 20rem;
    height: 30rem;
}