body {
    background-image: url("../imagen/fondomapa.jpg");
    background-size: cover;
}

.retourner { 
    display:flex;
    justify-content: start;
}

.iconohome {
    width: 50px;
    transition-duration: 1.5s;
}

.iconohome:hover {
    transform: rotateY(180deg);
}

h1 {
  font-family: fantasy;
  text-align: center;
  font-size: 50px;
}

@media screen {
    .encabezado {
        flex-direction: column;
    }

    .formulario {
        flex-direction: column;
    }
}